.btn-text {
   &:link,
   &:visited {
      display: inline-block;
      padding: 1rem;

      border-bottom: 1px solid $color-brown-light;

      font-weight: 700;
      font-size: $font-size-paragraph;
      letter-spacing: 0.2rem;
      color: $color-brown-light;
      text-decoration: none;

      transition: $transition-all;
   }
   &:hover {
      background-color: $color-brown-light;
      box-shadow: $box-shadow;
      color: #fff;

      transform: translateY(-0.2rem);
   }
   &:active {
      transform: translateY(0rem);
   }
}
