.feedback-card {
   margin: 0 auto;
   padding: 5rem 9.5rem;
   width: 75%;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.1));

   transform: skewX(-25deg);

   @include respond(tab-port) {
      transform: skewX(-13deg);
      padding: 5rem 6rem;
   }

   & > * {
      transform: skewX(25deg);

      @include respond(tab-port) {
         transform: skewX(13deg);
      }
   }

   &__img {
      position: relative;
      float: left;
      margin-right: 2.3rem;

      width: 16.7rem;
      height: 16.7rem;
      background: #c4c4c4;
      border-radius: 50%;
      overflow: hidden;
      shape-outside: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);

      img {
         display: inline-block;
         max-width: 100%;
         height: 100%;
         object-fit: cover;

         transform: scale(1.1);
         transition: $transition-all;
      }

      @include respond(tab-port) {
         float: none;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 1rem;
      }
   }
   &__name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);

      font-weight: 400;
      font-size: 2.4rem;
      text-align: center;
      letter-spacing: 0.2rem;
      color: $color-white;

      opacity: 0;
      transition: $transition-all;
   }

   &:hover &__name {
      opacity: 1;
      transform: translate(-50%, -50%);
   }
   &:hover img {
      transform: scale(1);
      filter: blur(3px) brightness(70%);
   }

   &__box {
      @include respond(tab-port) {
         transform: translateX(1rem);
         & .title-third {
            text-align: center;
         }
      }
   }
}

.paragraph {
}
